<% content_for(:title) { "e-Coucou super sweet dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Achats Industriels" data-text="Bienvenue sur ce petit dashboard." data-moreinfo="(c) 2014 e-Coucou"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="fournisseur" data-view="Number" data-title="# Fournisseurs" style="background-color:#96bf48;"></div>
    </li>
 
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="valuation" data-view="Number" data-title="Chiffre d'Affaire" data-suffix="€"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="gainO" data-view="Meter" data-title="Gains OPex"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="gainC" data-view="Meter" data-title="Gains CaPex"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="Buzzwords" data-moreinfo="# of times said around the office"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bargraph" data-view="UsageGauge"  data-title="Réclamation"></div>
    </li>

  </ul>
</div>